[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tweepy = "*"
sqlalchemy = "*"
pymysql = "*"
botometer = "*"
numpy = "*"
sklearn = "*"
seaborn = "*"
tensorflow = "*"
pylint = "*"
jupyterlab = "*"
matplotlib = "*"
ipympl = "*"

[requires]
python_version = "3"
