[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
jupyterlab = "*"
numpy = "*"
matplotlib = "*"
ipympl = "*"

[packages]
tweepy = ""
sqlalchemy = "*"
pymysql = "*"
botometer = "*"
numpy = "*"
sklearn = "*"

[requires]
python_version = "3.7"
